set mouse
set linenumbers
set nonewlines
set tabstospaces
set tabsize 4

set titlecolor brightwhite,brightcyan
set statuscolor brightcyan
set keycolor brightcyan
set numbercolor brightcyan
set errorcolor brightwhite,red
